<table class="table table-hover">
  <thead>
    <tr>
      <td>Title</td>
      <td>Year</td>
      <td>Rated</td>
      <td>Runtime</td>
      <td>Actions</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{movie.title}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.rated}}</td>
      <td>{{movie.runtime}}</td>
      <td>
          <a (click) ="editMovie(element._id)" class="btn btn-primary">Edit</a>
          <a (click) ="deleteMovie(element._id)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  </tbody>
</table>