<div>
    <br>
    <mat-card>
      <section class="mat-typography">
          <h3>Update Movie</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form">
        <mat-form-field class="field-full-width">
          <input placeholder="Title" matInput formControlName="title" #title>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input placeholder="Year" matInput formControlName="year" #year>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input placeholder="Rated" matInput formControlName="rated" #rated>
        </mat-form-field>
        <mat-form-field  class="field-full-width">
            <input placeholder="Runtime" matInput formControlName="runtime" #runtime>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
        <button type="submit" (click)="updateMovie(title.value, year.value, rated.value, runtime.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
</div>