<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create A New Movie</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Movie Title" formControlName="title" #title>

      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Year" formControlName="year" #year>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Rated" formControlName="rated" #rated>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Runtime" formControlName="runtime" #runtime>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="addMovie(title.value, year.value, rated.value, runtime.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>